.hm-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px; /* Adjust size as needed */
    height: 64px; /* Adjust size as needed */
    margin-bottom: 18px;
 /* Background color for H&M icon */
    /* border-radius: 10px; Optional: rounded corners */
  }
  
  .hm-letter {
    font-family: 'Arial', sans-serif;
    font-size: 36px; /* Adjust font size as needed */
    font-weight: bold;
    color: black; /* Text color */
    
  }
  